.detailPage {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
.detailPage__containner {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 24px 102px;
  gap: 24px;
}
.detailPage__section_title {
  height: 64px;
  width: 100%;
}
.detailPage__section_contents {
  display: flex;
  flex-direction: row;

  gap: 24px;
}
.detailPage__image {
  width: 40%;
  height: 311px;
}

.detailPage__memo {
  height: 311px;
  width: 60%;
}

.detailPage__actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}

@media (max-width: 744px) {
  .detailPage {
    padding: 0 16px;
  }
  .detailPage__containner {
    padding: 24px 0;
  }
  .detailPage__section_contents {
    flex-direction: column;
  }
  .detailPage__actions {
    gap: 7px;
  }
  .detailPage__actions > button {
    width: 168px;
  }
}

@media (max-width: 1200px) {
  .detailPage {
    padding: 0 24px;
  }
  .detailPage__section_contents {
    flex-direction: column;
  }
  .detailPage__image,
  .detailPage__memo {
    width: 100%;
  }
  .detailPage__actions {
    justify-content: center;
  }
}
