html,
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'NanumSquare', sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareR.woff2') format('woff2'),
    url('/fonts/NanumSquareR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareB.woff2') format('woff2'),
    url('/fonts/NanumSquareB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareEB.woff2') format('woff2'),
    url('/fonts/NanumSquareEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareL.woff2') format('woff2'),
    url('/fonts/NanumSquareL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-salte-900: #0f172a;
  --color-salte-800: #1e293b;
  --color-salte-500: #64748b;
  --color-salte-400: #94a3b8;
  --color-salte-300: #cbd5e1;
  --color-salte-200: #e2e8f0;
  --color-salte-100: #f1f5f9;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;

  --color-rose-500: #f43f5e;
  --color-rose-300: #bef264;

  --color-amber-800: #92400e;
}
