.container {
  background-color: white;
  min-height: 100vh;
}
.header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-salte-200);

  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.headerinner {
  height: 100%;
  max-width: 1200px;
  width: 100%;

  display: flex;
  align-items: center;
}
