.search_wrapper {
  position: relative;
  height: 56px;
  flex: 1;

  display: flex;
  align-items: center;
}
.input_wrapper {
  height: 100%;
  width: 100%;

  position: absolute;
  z-index: 1;

  display: flex;
  padding: 16px;
}
.input_wrapper > input {
  background-color: transparent;
  width: 100%;

  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
