.titleList {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.titleList__container {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.titleList__title {
  height: 35px;
  width: 101px;
}
.titleList__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleList__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleList__empty_img {
  width: 240px;
  height: 240px;
  margin-bottom: 24px;
}
.titleList__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: bold;
  color: var(--color-salte-400);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 3px;
}

@media (max-width: 1200px) {
  .titleList__empty_img {
    height: 240px;
    width: 240px;
    margin-bottom: 24px;
  }
}

@media (max-width: 744px) {
  .titleList__empty_img {
    height: 120px;
    width: 120px;
    margin-bottom: 16px;
  }
}
