.todoTitle {
  height: 100%;
  padding: 0 12px;

  border: 2px solid var(--color-salte-900);
  border-radius: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.todoTitle__input {
  width: 50%;

  font-size: 20px;
  font-weight: bold;

  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  border: none;
  outline: none;

  background-color: transparent;
  text-decoration: underline;
}
.todoTitle > img {
  cursor: pointer;
  width: 32px;
  height: 32px;

  box-sizing: border-box;
}
